/*   
Theme Name: your-clean-template-3
Theme URI: https://github.com/saxap/clean-wp-template
Version: 3.0
Tags: clean, development, html5, bootstrap
Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting
Author: saxa:p
Author URI: http://dontforget.pro
*/

/** global **/
html {
	min-height: 100%;
}

body {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    color: #e3bb00;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

a:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
footer a{
	color: #9c9c9d;
}
footer a:hover{
	color: #75bbfd;
	text-decoration: none;
}

/** table **/
.table {
    border: 1px solid #eee;
    box-shadow: 0 0 7px rgba(0,0,0,.05);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}
.table>thead>tr>th {
	font-size: 13px;
}

.table .sale{
	background-color: #f3f3f3; 
}


.form-control:focus{
	border-color: #75bbfd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),inset 2px 2px 4px rgba(104,104,104,.1);
    background-color: #FFF;
    color: #23262D;
}
/** global classes **/

.title {
	color: #333;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 35px;
    letter-spacing: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.title > span {
    border-bottom: 2px solid #75bbfd;
    display: inline-block;
    margin-bottom: -12px;
    padding-bottom: 10px;
}

.see-all {
    float: right;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 10px;
}

.home-reviews {
	background-color: #f5f5f5;
    color: #45474d;
    padding: 50px 0;
}

/** bootstrap customize **/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.btn {
	text-transform: uppercase;
    border: none;
    padding: 10px 18px;
    border-radius: 2px;
}
.btn-default {
	background-color: #e3bb00;
	color: #000;
	font-weight: 600;
    font-size: 14px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.btn-info {
	background: #75bbfd;
	color: #393b43;
	font-weight: 700;
    font-size: 14px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
	color: #fff!important;
	background: #414141!important;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
	background: #75bbfd;
	color: #fff;
}

/** top-menu ***/
.top-menu {
	float: right;
}
.top-nav ul > li > a {
	line-height: 104px;
	color: #939292;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
    font-weight: bold;
    padding: 0 18px;
    -webkit-transition: border .15s ease-out,color .15s ease-out,background .15s ease-out,opacity .15s ease-out;
    transition: border .15s ease-out,color .15s ease-out,background .15s ease-out,opacity .15s ease-out;
}
@media(max-width: 990px){
	.top-nav ul > li > a{
		padding: 0 10px;
		line-height: 59px;
	}
}
.top-nav ul > li.active > a, .top-nav ul > li > a:hover {
	background: #ededed;
	color: #454545;
}
.float{
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 1000;
	width: 100%;
	border-bottom: 1px solid #ababab;
}
.float .top-nav ul > li > a{
	line-height: 59px;
}
.float .navbar-toggle{
	padding: 0; 
}
/** footer-menu **/
.footer-nav ul > li {
	display: block;
	width: 100%;
}
.footer-nav ul > li:not(:first-child) {
	border-top: 1px solid rgba(255,255,255,.1);
}
.footer-nav ul > li > a {
	color: #eee;
	padding: 10px 0;
}
.footer-nav ul > li > a:hover {
	color: rgba(255,255,255,.6);
}

/** header **/
.header-logo img {
	max-height: 105px;
	height: 100%;
}
.header-logo .min {
	display: none;
}


/** footer **/
footer {
	background: #474a51;
    color: #eee;
    padding-top: 30px;
}

.footer-contact-info {
	padding-left: 100px;
}
.footer-contact-info h4{
	color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    border: 0;
}
.footer-contact-info ul {
	list-style: none;
	font-size: 13px;
	font-weight: 300;
	padding: 0;
}
.footer-contact-info ul >li {
	padding: 10px;
}
.footer-contact-info ul >li > i {
	color: #fff;
	margin-right: 7px;
}

.footer-logo {
	padding-right: 28px;
}
.footer-logo p {
	margin-top: 20px;
	font-size: 12px;
}

.footer-bottom {
	padding: 10px 0;
	font-size: 11px;
	background: rgba(0,0,0,.2);
}
.footer-bootom-developer {
	text-align: right;
}

/** index **/

.home-slider .carousel-inner .item {
	width: 100%;	
	height: 450px;	
	overflow: hidden;
}
.home-slider .carousel-inner .item img {
	width: 100%;
	min-height: 450px;
	position: absolute;
	padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);		
}

.home-slider .fa{
	position: absolute;
	top: 45%;
	font-size: 4em;
	font-weight: 300;
	padding: 5px 0;
}
.home-slider .fa:hover{
	background-color: #75bbfd;
}
.carousel-caption{
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 40px 0 40px 250px;
	text-align: justify;
	background-color: rgba(0,0,0,.5);
}
.line-one{
	font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 2px 0 rgba(0,0,0,.9);
    padding-bottom: 20px;
    text-transform: uppercase;
}
.line-two{
	font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    text-shadow: 1px 2px 0 rgba(0,0,0,.8);
    padding-bottom: 20px;
}
.section-slider-order-now {
	background-color: #75bbfd;
	padding: 30px;
}
.slider-order-now-desc {
	font-size: 24px;
	text-align: right;
}

@media (max-width: 991px){
	.order{
		margin-top: 13px;
	}
}
.section-about-us {
	padding: 70px;
}

.section-our-service {
	padding: 70px;
	background-color: #f5f5f5;
    color: #45474d;
}
.our-service-container{
	
	padding: 0 25px;	
}
.our-service-block {
	background: #fff;
	padding: 35px 30px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-radius: 3px;
	width: 23%;
	margin: 10px 0.5%;
	display: inline-block;
	float: left;
}
@media (min-width: 768px){
    .our-service-block {
        height: 205px;
    }
}


.our-service-block:hover .our-service-desc {
	opacity: 1;
	visibility: visible;
}
.our-service-block-img {
	text-align: center;
}
.our-service-block-img img{
    width: 150px;
    height: 90px;
}
.our-service-block-title {
	text-align: center;
}
.our-service-block > a {
    font-size: 15px;
    font-weight: 600;
    color: #45474d;
    vertical-align: top;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
.our-service-block > a:hover {
    color: #333;
    text-decoration: underline;
}
.our-service-desc {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
    padding: 0 30px 35px 30px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 3px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

.completed-work {
	padding: 50px 0;
}
/*.completed-work-slider{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.completed-work-slider-block {
	float: left;
	width: 25%;
	min-width: 25%;
}
@media (max-width: 1199px) and (min-width: 768px){
	.completed-work-slider-block {	
		width: 33.3333%;
		min-width: 33.3333%;
	}
}
@media (max-width: 767px) and (min-width: 420px){
	.completed-work-slider-block {	
		width: 50%;
		min-width: 50%;
	}
}*/
.completed-work-slider-block:hover .completed-work-slider-img-hover{
	cursor: pointer;
	visibility: visible;
    -webkit-animation: moveFromTop 300ms ease;
    -moz-animation: moveFromTop 300ms ease;
    -ms-animation: moveFromTop 300ms ease;
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
	}
}
.completed-work-slider-block:hover .completed-work-slider-content{
	background-color: #f7f6f6;
	box-shadow: 0 2px 15px rgba(0,0,0,.15);
}
.completed-work-slider-img {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	height: 170px;
	width: 100%;
}
.completed-work-slider-img a{

}
.completed-work-slider-img img {
	position: absolute;
	width: 100%;
	opacity: 0.8;
	width: 100%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.completed-work-slider-img img:hover{
	opacity: 1;
}

.completed-work-slider-img-hover {
	position:absolute;
	left:0;
	top:0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.completed-work-slider-img-hover a{
	position: relative;
	top: 40%;
	left: 30%;
	vertical-align: middle;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 30px;
	outline: none;
}
.completed-work-slider-img-hover a:hover{
	border-color: transparent;
}
.completed-work-slider-title {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.completed-work-slider-content {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 25px 18px;
}
.our-partner{
	padding-top: 50px; 
}
.our-partner h2{
	margin: 5px;
}

.our-partner h2+p{
	font-size: 14px;
    color: #777;
    text-transform: uppercase;
    padding-top: 12px;
    margin: 0;
}

.our-partner-slider-btn-left, .our-partner-slider-btn-right{
	z-index: 10;
	font-size: 60px;
	/*top: -10px;*/
}
.our-partner-slider-btn-left:hover, .our-partner-slider-btn-right:hover{
	opacity: 0.5;
	cursor: pointer;
}
.our-partner-slider-btn-right {
	padding-left: 20px;
}
.our-partner-slider-btn-left {
	padding-right: 20px;
}
.our-partner-slider { 
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
	/*align-items: baseline;*/
}
.our-partner-slider img {
	display: block;
	margin: 0 auto;
    max-height: 65px;
    max-width: 150px;
    height: auto;
    width: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
	transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
}
.our-partner-slider img:hover {
	cursor: pointer;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
}

.reviews-slider {
	display: flex;
	top: 50%;
}
.slick-dots li button:before {
	font-size: 10px;
	color: grey;
	padding: 2px;
}
.slick-dots li button:hover:before {
	color: rgba(0,0,0,.5);
}
.slick-dots li.slick-active button:before {
	color: #75bbfd;
}
.slick-dots li {
	margin: 0;
}
.reviews-slider-block-comment {
	background: #fff;
	padding: 18px 25px;
    font-size: 14px;
    color: #656565;
    line-height: 24px;
    border-radius: 5px;
}
.reviews-slider-block-comment-img img {
	width: 150px;
	border: 1px solid #ddd;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.reviews-slider-block-comment-img img:hover {
	border: 1px solid #75bbfd;
}
.reviews-slider-block-partner {
	padding: 20px 25px;
	line-height: 24px;
}
.reviews-slider-block-partner img {
	float: left;
	border: 2px solid #ddd;
    background-color: #FFF;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-right: 20px;
}
#topnav li{
	font-size: 13px;
}
.navbar-header{
	font-size: 2em;
}
.collapsing{
	display: none;
}
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in{
    	display: block!important;
    	width: 100%;
    }
    .nav.navbar-nav.top-menu{
    	width: 100%;
    }
    .navbar-nav {
        float: left!important;
        margin: 0;
    }
    .navbar-nav>li {
        float: left;         
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-width: 690px){
	.navbar-nav>li {
        float: none; 
        border-bottom: 1px solid #ededed;     
    }
}
@media (min-width: 979px) { 
	ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu { /* для раскрывания субменю по наведению */
		display: block;
	}
	.comment-list .children { /* для комментов */
		padding: 0;
		margin-left: 74px;
		padding-bottom: 15px;
	}
	.comment-list .media {
		margin-top: 0;
	}
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/*** Services ***/
.top-image-container{
	position: relative;
	width: 100%;
	height: 160px;
	overflow: hidden;
	text-align: center;
	-webkit-transition: height .15s ease-out;
    transition: height .15s ease-out;
}
.top-image{
	position: absolute;
    height: 300px;
	width: 100%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
	background-image: url(http://100-tonn.ru/custom/100tonn/img/l-gray-transp.png), url(http://100-tonn.ru/userfiles/site/titlebg/421_uslugi-spetstekhniki.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    padding: 70px 0;
    text-align: center;
    
}

.top-image .title{
	font-weight: 400;
	font-size: 2em;
    text-transform: none;
}
.top-image-container h2.title {
	position: relative;
	border-bottom: none;
	padding: 30px 0 20px 0;
	margin: 0 0 20px 0;
}
.top-image-container h2.title::after {
	content: '';
    width: 94px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -47px;
    bottom: 0;
}
.top-image li{
	display: inline-block;
	
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);	
}
.top-image li:not(:last-child){
	padding-right: 5px;
	border-right: 1px solid #333;
}
.top-image li>a{
	color: #777;
}
.top-image li>a:hover{
	color: #000;
}
.main{
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background-color: #f5f5f5;
	padding: 50px 0 100px;
}
.main.white{
	background-color: #fff;
	padding: 50px 100px;
	height: auto;	
}

.dark-colored-area{
	background-color: #474a51;
    color: #fff;
}
.dark-colored-area a{
	color: #9c9c9d;
}
.dark-colored-area a:hover{
	text-decoration: none;
	color: #75bbfd;
}
ul.project-filter {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin: 20px 0;
    float: left;
}
ul.project-filter li.textitem {
    color: #fff;
    cursor: default;
}
ul.project-filter li {
    display: inline-block;
    font-size: 13px;
    color: #9c9c9d;
    margin: 7px 12px;
    cursor: pointer;
    line-height: 1;
    font-weight: 600;
}
ul.project-filter li.active, ul.project-filter li:hover {
    color: #75bbfd;
}
.completed-work-container{
	width: 100%;
	max-width: 100%;
	height: auto;
	min-height: 308px;
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.completed-work-block {
	width: 20%;
	height: auto;
	position: relative;	
	padding: 0;
}

.completed-work-block:hover .completed-work-img-hover{
	cursor: pointer;
	visibility: visible;
    -webkit-animation: moveFromTop 300ms ease;
    -moz-animation: moveFromTop 300ms ease;
    -ms-animation: moveFromTop 300ms ease;
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
	}
}
.completed-work-block:hover .completed-work-content{
	background-color: #f7f6f6;
	box-shadow: 0 2px 15px rgba(0,0,0,.15);
}

.completed-work-img {
	position: relative;
	height: 215px;
	overflow: hidden;
}
.completed-work-img img {
	width: 100%;
	min-height: 100%;
	position: absolute;
	padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);	
}
.completed-work-img-hover {
	position:absolute;
	left:0;
	top:0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.completed-work-img-hover a{
	position: relative;
	top: 35%;
	left: 25%;
	vertical-align: middle;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 30px;
	outline: none;
}
.completed-work-img-hover a:hover{
	border-color: transparent;
}
.completed-work-title {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.completed-work-content {	
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 25px 18px;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
}
ul.project-filter li.textitem{
	color: #fff;
    cursor: default;
}
ul.project-filter li.textitem:hover{
	color: #fff;
}
.story-content{
	padding: 30px;
	background-color: #f5f5f5;
}
.story-content::after{
	border-top-color: #F6F6F6;
    border-bottom-color: transparent;
    bottom: -20px;
    top: auto;
    content: '';
    position: absolute;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #f6f6f6;
    transform: rotate(180deg);
}
.story-content-text{
	text-align: justify;
	overflow: hidden;
	height: auto;
	padding-bottom: 20px;
}
.story-comment{
	padding: 15px;
}
.story-img{
	border-radius: 50%;
	border: 2px solid #ddd;
	padding: 0;
	width: 65px;
	
	height: 65px;
	margin-right: 15px;
}
.show-bigger img{
	height: 160px;
	width: 130px;
	border: 1px solid #ddd;
}
.show-bigger img:hover{
	border: 1px solid #75bbfd;
}
.client-container{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.client-block{
	width: 25%;
	height: 150px;
	padding: 15px;	
}
.client-inner{	
	text-align: center;
	border: 2px solid #ddd;
	padding: 15px 0;
	width: 100%;
	height: 100%;
}
.client-inner img{
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 160px;
	max-height: 80px;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    opacity: .6;
}
.client-inner img:hover{
	-webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    opacity: 1;
}
textarea.form-control.contacts{
	resize: none;
	height: 200px;
}
.order-modal{	
 	background-color : #fff; 	
 	width: 90%;
	max-width: 400px;
	height: auto;
	margin: 7% auto;
	padding: 40px;
}
.order-modal input[type="submit"]{
	width: 100%;
}
.review-modal{
	text-align: center;
	margin-top: 7%;
	height: auto;  
	width: 90%;
	max-width: 500px;
	border: 10px solid #000;
}
.review-modal img{
	width: 100%;
}
.modal a.close-modal{
	top: 0;
	left: none;
	right: 0;
}
.order-modal textarea{
	resize: none;
	height: 150px;
	margin-bottom: 15px;
}
.order-modal input{
	height: 50px;
	margin-bottom: 15px;
}
.blocker{
	z-index: 16;
}
.modal{
	z-index: 17;
}

.page {
	padding: 20px 0;
	font-size: 15px;
}

/** page service detail **/

.page-service-detail {
	padding-top: 50px;
	font-size: 15px;
}
.page-service-price {
	padding: 50px 0;
}

.page-service-slider-desc {
	padding-top: 50px;
}

.page-service-completed-work {
	padding: 50px 0;
}

.page-service-completed-work-block {
	margin-bottom: 10px;
}
.page-service-completed-work .completed-work-block {
	width: 25%;
}


.page-services {
	background-color: #f5f5f5;
    color: #45474d;
    padding: 50px 0;
}

.kama_breadcrumbs {
	color: #000000;
	font-size: 11px;
}
.kama_breadcrumbs a {
	color: #777;
	text-decoration: none;
	padding: 0 5px;
}

.kama_breadcrumbs a:hover {
	color: #000000;
	text-decoration: underline;
}

@media (max-width: 1199px) and (min-width: 992px){
	.completed-work-block{
		width: 25%;
		min-width: 25%
	}
	.our-service-block {
		width: 23%;
		min-width: 23%
	}
	.carousel-caption{
		padding: 40px 150px;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.completed-work-block, .client-block {
		width: 33.3333%;
		min-width: 33.3333%;
	}
	.text-center-sm{
		text-align: center;
	}
	.main.white{
		padding: 50px;
	}
	.footer-contact-info{
		padding-left: 0; 
	}
	.home-slider .carousel-inner .item{
		height: 350px;
	}
	.carousel-caption{
		padding: 40px 150px;
	}	
	.line-one{
		font-size: 35px;
		font-weight: 600px;
	}
	.line-two{
		font-size: 20px;
	}
	
}
@media (max-width: 991px) and (min-width: 768px){
    .our-service-block {
        width: 49%;
        min-width: 49%;
    }
    .section-our-service, .section-about-us{
        padding: 30px 15px;
    }
    
}

@media (max-width: 767px) and (min-width: 420px){
    .our-service-block {
        width: 100%;
        min-width: 100%;
        text-align: center;
    }
    .section-our-service, .section-about-us{
        padding: 30px 15px;
    }
    
}

@media (max-width: 767px) and (min-width: 420px){
	.completed-work-block, .client-block {
		width: 50%;
		min-width: 50%
	}
	.text-center-sm{
		text-align: center;
	}
	.main.white{
		padding: 50px 20px;
	}
	.footer-contact-info{
		padding-left: 0; 
	}
	.home-slider .carousel-inner .item{
		height: 300px;
	}
	.carousel-caption{
		padding: 20px 80px;
	}	
	.line-one{
		font-size: 25px;
		font-weight: 500px;
	}
	.line-two{
		font-size: 15px;
	}
}
@media (max-width: 420px){
	.completed-work-block, .client-block {
		width: 100%;
		min-width: 100%
	}
	.text-center-sm{
		text-align: center;
	}
	.main.white{
		padding: 15px;
	}	
	.footer-contact-info{
		padding-left: 0; 
	}
	.home-slider .carousel-inner .item{
		height: 200px;
	}
	.carousel-caption{
		padding: 10px 50px;
	}	
	.line-one{
		font-size: 20px;
		font-weight: 400px;
		padding-bottom: 0;
	}
	.line-two{
		font-size: 13px;
		padding-bottom: 0;
	}
	.our-service-block {
		width: 100%;
		min-width: 100%
	}
	.section-our-service, .section-about-us{
		padding: 30px 5px;
	}
}

/* fix bag by krass */
.has-line {
    position: relative;
}
.has-line::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #75bbfd;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -10px;
}
.noSpace{
	white-space: nowrap;
}
@media (max-width: 991px){
	 .forOrderForm{
		 text-align: center;
	}
}
.priceTable tbody tr td:first-child{
	padding-left: 15px;
}
.min-padding-top{
	padding-bottom: 0!important;
}
.min-padding-bottom{
	padding-top: 0!important;
}
.redLine{
	text-indent: 20px; /* Отступ первой строки в пикселах */
}
.headerForOrder{
	margin-top: 8px ;
}